/* body {
  height: 97vh;
  background: #ffffff;
  color: #000000;
  font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
  font-size: 13pt;
}

.inst {
  margin: 0 auto;
  display: block;
  text-align: center;
  background: #ffffff;
  color: #000000;
  font-size: 25pt;
  font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
}

.button {
  font-size: 18px;
  line-height: 2em;
  text-align: center;
  font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
}

.stim {
  width: 200px;
  height: 160px;
  clear: both;
  border: 1px solid #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -80px;
  margin-left: -100px;
  text-align: center;
  font-size: 50px;
  font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
} */
